In [1]:
import numpy as np
import pandas as pd
import re
import fuzzywuzzy
from fuzzywuzzy import process

C:\Users\User\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
# Carrega o dataset de veículos
df_veiculos = pd.read_csv('veiculos.csv', encoding='ISO-8859-1')

# Separa apenas os campos de interesse
df_veiculos = df_veiculos[['CODIGO', 'PLACA', 'MODELO', 'MARCA']]

# Com base em um banco de dados já correto de marcas
df_marcas_ok = pd.read_csv(r'marcas.csv', encoding='latin1')

df_veiculos.shape

(898, 4)

In [4]:
df_veiculos.head()

   CODIGO     PLACA                       MODELO              MARCA
0       1  YNU-2233                          NaN                NaN
1       2  NYH-0213   CAMINHAO VOLKSWAGEN 24.280   VOLKSWAGEN 24280
2       4  VWU-3245  CAMINHÃO VOLKSWAGENS 24.250  VOLKSWAGEN 24.250
3       5  UXB-7609   CAMINHÃO VOLKSWAGEN 24.250  VOLKSWAGEN 24.250
4       6  IGM-1705   CAMINHÃO VOLKSWAGEN 24.250  VOLKSWAGEN 24.250

In [5]:
df_marcas_ok.head()

     NOME
0  AGRALE
1    AUDI
2     BMW
3    FIAT
4    FORD

In [6]:
# Verifica quantos veículos possuem a marca com problemas de grafia

df_veiculos = df_veiculos.merge(df_marcas_ok, how='left', 
                                left_on='MARCA', right_on='NOME')

df_veiculos.rename(columns={'NOME': 'PROBLEMA_MARCA'}, inplace=True)

porc_problema = df_veiculos[df_veiculos['PROBLEMA_MARCA'].isnull()].shape[0] / df_veiculos.shape[0] 
print('Total de veículos com problema na marca:', porc_problema*100, '%')

Total de veículos com problema na marca: 48.91304347826087 %

In [7]:
# visualiza quantas marcas existem
marcas_inicio = df_veiculos['MARCA'].unique().shape[0]
print(marcas_inicio)
print(df_veiculos['MARCA'].unique())

214
[nan 'VOLKSWAGEN 24280' 'VOLKSWAGEN 24.250' 'VOLKSWAGEN'
 'VOLKSWAGEN  24.280' 'SR GUERRA' 'SCANIA' 'SCANIA RANDON SRCA'
 'SCANIA R440' 'SCANIA P 340' 'GUERRA AG GR' 'MERCEDES BENZ'
 'LOIBRELATTO SRCS 3E' 'SCANIA R124' 'GUERRA' 'SCANIA G400' 'FACCHINI'
 'SCANIA G380' 'RANDON' 'RANDON SR' 'SCANIA FH12' 'LIBRELATTO' 'FORD CARGO'
 'SR LIBRELATTO' 'VOLVO' 'FORD' 'RANDON SR TR' 'SCANIA R113'
 'MERCEDES BENZ ATEGO' 'FH 420' 'VOLVO FH' 'FACHINI' 'VOLKSWAGEN MAN'
 'JARDINOX' 'GUERRA CHARGER' 'RECRUSUL' 'SCANIA T113' 'ATEGO 2426'
 'PORTA CONTAINER' 'VW 24.280' 'MERCEDES ATEGO 2429' 'SCANIA T112'
 'MERCEDES LS 1935' 'SCANIA P114' 'IVECO STRALYS' 'KRONE PRANCHA'
 'VW 24.390' 'IVECO' 'FORD CARGA 2428' 'MAN 29.440' 'TRIEL HT'
 'MERCEDES AXOR' 'FACCHINI SYDER' 'RODOLINEA' 'SCANIA T114' 'SR RANDON'
 'MERCEDES' 'VOLKS MAN' 'VOLVO NL10' 'SCANIA P 114' 'FIBRASIL'
 'SCANIA T124' 'NOMA' 'SOUFER' 'VW 19.320' 'SCHIFFER' 'SEMI REBOQUE'
 'STRALYS' 'SR/GUERRA' 'MAN 28.440' 'RANSON' 'VW 23220' 'SR LIBRELATO' 'VW'
 'SCANIA R114' 'CARGA 2423' 'MAN' 'REB. SAN MARINO' 'ATEGO' 'SCANIA 340'
 'AXOR 2540' 'SYDER' 'GURRA' 'LIBRELATO SRCS' 'SR. LIBRELATTO' 'MANN'
 'MERCEDZ BENS' 'LIBRELATTO PC' 'VOLKS' 'IVECO STRALIS' 'MERCEDES ATEGO'
 'CARGO' 'VOLVO FH12' 'FACCHINI TANQUE' 'VW 25390' 'SR FACCIHINI'
 'SR FACCHINI SRP PC' 'LIBRELATO' ' LIBRELATTO' 'M. BENZ'
 'VOLVO / FH 440 6X2T' 'SR/RANDONSP SRFG LO' 'VW/ 32.280 CRM 6X4'
 'SR/GUERRA AG ST' 'MAN TGX' 'SCANIA 360' 'REB/ RANDON  SR GR T'
 'VOLVO / FH 400 6X2T' 'SR / GUERA' 'M BENZ  2544 S' 'M BENZ AXOR 2544 S'
 'SR / LIBRELATO' 'M BENZ / L 1518' 'ELLFEN' 'FH' 'SR GUERRA AG GR'
 'SR/ GUERRA' 'SR LIBERATO' 'SR NOPIA SR' 'M. BENZ / AXOR 2544'
 'SR/LIBRELATO SRCS 3E' 'DAF XF 105 FTS 460A' 'SR/ RANDON' 'VOVLO'
 'IDAF XF 410' 'MERCEDES BENZA' 'SR/ GUERRA AG GR' 'SCANIA / T121 GA42NZ'
 'RANDN' 'VW/25.390 CTE 6X2' 'FORD/ CARGO 2428 E' 'SR / FACCHINI'
 'REB RANDON' 'SR/ FACCHIN' 'SCANIA / R 440A9X2' 'SCANIA/P340A6X2'
 'SR/RANDON SR CA' 'REB/ NOMA SR' 'DR RANDON' 'CAR/ S REBOQUE C. AB'
 'M BENZ' 'SR/ FACCHINI' 'VW/24' 'VOLKSWAGEM' 'SR/ TQ2' 'SRT TQ2'
 'MAN / TGX 28.440 6X2' 'SR/ SOUFER VA 3E' 'KRONE' 'VOLVO /FH 440 6X4T'
 'SR/ LIBRELATO' 'TRAC/ C TRATOR / CAB' 'VO9LKS' 'RAMDON' 'RODOTECNICA'
 'M. BENZ /AXOR 2540 S' 'VOLVO FH 12380' 'FORS' 'VW/23.210 MWM'
 'VOLVO / FH 2380 4X28' 'M. BENZ / LS 1634' 'SR/ RANDON SR CA'
 'FORD CARGO 2428 E' 'VOLVO FH 440 6X2T' 'VW/24250 CNC 6X2' 'REB NOMA'
 'VW/19.320 CLC TT' 'I / IVECO' 'FORD/CARGO' 'SR/ LIBERATO' 'VW/23.220'
 'CW/24280' 'SR FACCHINI' 'THERMOSUL' 'M BENZ / 1938 S'
 'SR/ NOMA SR3E27 CG' 'M. BENZ / ACTROS' 'FORD CARGO 2422 T' 'SR / RANDON'
 'VOLVO / FH' 'VOLVO/VM 260 6X2R' 'SCANIA P 340A6X2' 'M.BENZ'
 'M.BENZ / ATEGO 2430' 'M. BENZ / AXOR' 'SR / GUERRA'
 'VOLVO/ FH12 420 4X2T' 'SR/  LIBRELATO' '23220' 'SR/ NOMA' ' SR/ NOMA'
 'SR NOMA' 'MAN/TGX' 'VW/17.220' 'FORD/ CARGO' 'NOMAQ' 'SR / SCHIFFER'
 'SR/ SCHIFFER C ABERT' 'LS 30CS' 'R4406X2' 'SR/FACHIN' 'SR/ LIBRELATTO'
 'CAVALO' 'REB / NOMA' 'VOLVO /FH' 'TRUCK' 'R/GUERRA' 'DAF/ XF105'
 ' M.BENZ' 'M. BENZ / S' 'ATEGO 3030' 'VW/24,250' ' VOLVO / FH' 'REB/NOMA']

In [8]:
# cria um atributo marca_antes para futura comparação
df_veiculos['MARCA_ANTES'] = df_veiculos['MARCA']

# remove números e caracteres estranhos para simplificar as marcas
df_veiculos['MARCA'] = df_veiculos['MARCA'].str.replace(r'[^A-Za-z]+', ' ')

# transforma NaN em valores em branco
df_veiculos['MARCA'].replace(np.nan, '', inplace=True)

# adiciona espaços em branco para ajudar a remover letras isoladas
df_veiculos['MARCA'] = ' '+df_veiculos['MARCA']+' '

In [9]:
# Já com essas ações é possível visualizar uma redução de marcas
print(df_veiculos['MARCA'].unique().shape[0])

157

In [10]:
# Função auxiliar para remover palavras por espaços em branco
def replacevalues(df, column, search, replace):
    for item in search:
        r = re.compile(' '+item+' ', flags=re.IGNORECASE)
        df[column] = df[column].str.replace(r, replace)

In [11]:
# Em uma rápida inspeção é possível verificar que poucos veículos
# possuem marcas com menos de 3 caracteres, exceto alguns:
dont_remove = ['MAN', 'DAF', 'MWM', 'VW', 'M']

# Para o restante das marcas, cria uma lista para remoção
remove = [x.split() for x in df_veiculos['MARCA'].unique()]
remove = [item for sublist in remove for item in sublist]
remove = [item for item in remove if len(item) <= 3 and item not in dont_remove]

In [12]:
print('Antes:', len(df_veiculos['MARCA'].unique()))
# remove todas as palavras na lista de remoção
replacevalues(df_veiculos, 'MARCA', remove, ' ')

# cria uma outra lista, com palavras com mais de 3 caracteres
# e que não são marcas
remove = ['SRCA', 'SRCS', 'PRANCHA', 'SRFG', 'STRALIS', 'CARGA', 'CARGO',
          'AXOR', 'ATEGO', 'ACTROS', 'ABERT', 'CHARGER', 'STRALYS', 'SYDER',
          'PORTA CONTAINER', 'CAVALO', 'SEMI REBOQUE', 'TRUCK', 'REBOQUE',
          'TRAC TRATOR']
replacevalues(df_veiculos, 'MARCA', remove, ' ')

# remove os espaços em branco extras
df_veiculos['MARCA'] = df_veiculos['MARCA'].str.strip()

print('Depois:', len(df_veiculos['MARCA'].unique()))

Antes: 157
Depois: 57

In [12]:
df_veiculos['MARCA'].unique()

array(['  ', ' VOLKSWAGEN  ', ' VOLKSWAGEN ', ' SR GUERRA ', ' SCANIA ',
       ' SCANIA RANDON SRCA ', ' SCANIA R  ', ' SCANIA P  ',
       ' GUERRA AG GR ', ' MERCEDES BENZ ', ' LOIBRELATTO SRCS E ',
       ' GUERRA ', ' SCANIA G  ', ' FACCHINI ', ' RANDON ', ' RANDON SR ',
       ' SCANIA FH  ', ' LIBRELATTO ', ' FORD CARGO ', ' SR LIBRELATTO ',
       ' VOLVO ', ' FORD ', ' RANDON SR TR ', ' MERCEDES BENZ ATEGO ',
       ' FH  ', ' VOLVO FH ', ' FACHINI ', ' VOLKSWAGEN MAN ',
       ' JARDINOX ', ' GUERRA CHARGER ', ' RECRUSUL ', ' SCANIA T  ',
       ' ATEGO  ', ' PORTA CONTAINER ', ' VW  ', ' MERCEDES ATEGO  ',
       ' MERCEDES LS  ', ' IVECO STRALYS ', ' KRONE PRANCHA ', ' IVECO ',
       ' FORD CARGA  ', ' MAN  ', ' TRIEL HT ', ' MERCEDES AXOR ',
       ' FACCHINI SYDER ', ' RODOLINEA ', ' SR RANDON ', ' MERCEDES ',
       ' VOLKS MAN ', ' VOLVO NL  ', ' FIBRASIL ', ' NOMA ', ' SOUFER ',
       ' SCHIFFER ', ' SEMI REBOQUE ', ' STRALYS ', ' RANSON ',
       ' SR LIBRELATO ', ' VW ', ' CARGA  ', ' MAN ', ' REB SAN MARINO ',
       ' ATEGO ', ' SCANIA  ', ' AXOR  ', ' SYDER ', ' GURRA ',
       ' LIBRELATO SRCS ', ' MANN ', ' MERCEDZ BENS ', ' LIBRELATTO PC ',
       ' VOLKS ', ' IVECO STRALIS ', ' MERCEDES ATEGO ', ' CARGO ',
       ' VOLVO FH  ', ' FACCHINI TANQUE ', ' SR FACCIHINI ',
       ' SR FACCHINI SRP PC ', ' LIBRELATO ', '  LIBRELATTO ', ' M BENZ ',
       ' VOLVO FH X T ', ' SR RANDONSP SRFG LO ', ' VW CRM X  ',
       ' SR GUERRA AG ST ', ' MAN TGX ', ' REB RANDON SR GR T ',
       ' SR GUERA ', ' M BENZ S ', ' M BENZ AXOR S ', ' M BENZ L  ',
       ' ELLFEN ', ' FH ', ' SR GUERRA AG GR ', ' SR LIBERATO ',
       ' SR NOPIA SR ', ' M BENZ AXOR  ', ' SR LIBRELATO SRCS E ',
       ' DAF XF FTS A ', ' VOVLO ', ' IDAF XF  ', ' MERCEDES BENZA ',
       ' SCANIA T GA NZ ', ' RANDN ', ' VW CTE X  ', ' FORD CARGO E ',
       ' SR FACCHINI ', ' REB RANDON ', ' SR FACCHIN ', ' SCANIA R A X  ',
       ' SCANIA P A X  ', ' SR RANDON SR CA ', ' REB NOMA SR ',
       ' DR RANDON ', ' CAR S REBOQUE C AB ', ' VOLKSWAGEM ', ' SR TQ  ',
       ' SRT TQ  ', ' MAN TGX X  ', ' SR SOUFER VA E ', ' KRONE ',
       ' TRAC C TRATOR CAB ', ' VO LKS ', ' RAMDON ', ' RODOTECNICA ',
       ' FORS ', ' VW MWM ', ' VOLVO FH X  ', ' M BENZ LS  ',
       ' VW CNC X  ', ' REB NOMA ', ' VW CLC TT ', ' I IVECO ', ' CW  ',
       ' THERMOSUL ', ' SR NOMA SR E CG ', ' M BENZ ACTROS ',
       ' FORD CARGO T ', ' VOLVO VM X R ', ' M BENZ ATEGO  ',
       ' M BENZ AXOR ', '   ', ' SR NOMA ', '  SR NOMA ', ' NOMAQ ',
       ' SR SCHIFFER ', ' SR SCHIFFER C ABERT ', ' LS CS ', ' R X  ',
       ' SR FACHIN ', ' CAVALO ', ' TRUCK ', ' R GUERRA ', ' DAF XF  ',
       '  M BENZ ', '  VOLVO FH '], dtype=object)

In [14]:
# Para algumas marcas, é necessário alterar "manualmente",
# pois há abreviações e outros erros
print('Antes:', len(df_veiculos['MARCA'].unique()))
df_veiculos['MARCA'].replace({'VOLKSWAGEN MAN': 'VOLKSWAGEN',
                              'VOLKS MAN': 'VOLKSWAGEN',
                              'VOLKS': 'VOLKSWAGEN',
                              'VW MWM': 'VOLKSWAGEN',
                              'VW': 'VOLKSWAGEN',
                              'M BENZ': 'MERCEDES-BENZ',
                              'MERCEDES': 'MERCEDES-BENZ',
                              'SCANIA RANDON': 'SCANIA',
                              'NOPIA': 'NOMA'},
                             inplace=True)
print('Depois:', len(df_veiculos['MARCA'].unique()))

Antes: 57
Depois: 49

In [15]:
# Verifica novamente as marcas, ainda há alguns erros de grafia
# que serão corrigidos em seguida
df_veiculos['MARCA'].unique()

array(['', 'VOLKSWAGEN', 'GUERRA', 'SCANIA', 'MERCEDES BENZ',
       'LOIBRELATTO', 'FACCHINI', 'RANDON', 'LIBRELATTO', 'FORD', 'VOLVO',
       'FACHINI', 'JARDINOX', 'RECRUSUL', 'MERCEDES-BENZ', 'IVECO',
       'KRONE', 'MAN', 'TRIEL', 'RODOLINEA', 'FIBRASIL', 'NOMA', 'SOUFER',
       'SCHIFFER', 'RANSON', 'LIBRELATO', 'MARINO', 'GURRA', 'MANN',
       'MERCEDZ BENS', 'FACCHINI TANQUE', 'FACCIHINI', 'RANDONSP', 'GUERA',
       'ELLFEN', 'LIBERATO', 'DAF', 'VOVLO', 'IDAF', 'MERCEDES BENZA',
       'RANDN', 'FACCHIN', 'VOLKSWAGEM', 'RAMDON', 'RODOTECNICA', 'FORS',
       'THERMOSUL', 'NOMAQ', 'FACHIN'], dtype=object)

In [16]:
# Esta função utiliza a biblioteca fuzzywuzzy para comparar cada marca com
# uma String que está correta, caso há algum problema de grafia a marca
# é substituída pela forma correta.

def replace_matches_in_column(df, column, string_to_match, min_ratio=90, only_test=False):
    # function to replace rows in the provided column of the provided dataframe
    # that match the provided string above the provided ratio with
    # the provided string

    # get a list of unique strings
    strings = df[column].unique()

    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings,
                                         limit=10,
                                         scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > x
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]
    if len(close_matches) > 0:
        print(string_to_match, ':', close_matches)

    if not(only_test):
        # get the rows of all the close matches in our dataframe
        rows_with_matches = df[column].isin(close_matches)

        # replace all rows with close matches with the input matches
        df.loc[rows_with_matches, column] = string_to_match

In [17]:
print('Antes:', len(df_veiculos['MARCA'].unique()))

# procuro uniformizar a grafia de cada marca corretamente
for marca in df_marcas_ok['NOME']:
    replace_matches_in_column(df=df_veiculos, column='MARCA', 
                              string_to_match=marca, min_ratio=70)

print('Depois:', len(df_veiculos['MARCA'].unique()))

Antes: 49
FORD : ['FORD', 'FORS']
IVECO : ['IVECO']
MERCEDES-BENZ : ['MERCEDES BENZ', 'MERCEDES-BENZ', 'MERCEDES BENZA', 'MERCEDZ BENS']
VOLKSWAGEN : ['VOLKSWAGEN', 'VOLKSWAGEM']
SCANIA : ['SCANIA']
VOLVO : ['VOLVO', 'VOVLO']
MAN : ['MAN', 'MANN']
FACCHINI : ['FACCHINI', 'FACCIHINI', 'FACHINI', 'FACCHIN', 'FACHIN', 'FACCHINI TANQUE']
NOMA : ['NOMA', 'NOMAQ']
RODOTÉCNICA : ['RODOTECNICA']
RANDON : ['RANDON', 'RANDN', 'RANDONSP', 'RANSON', 'RAMDON']
LIBRELATTO : ['LIBRELATTO', 'LOIBRELATTO', 'LIBRELATO', 'LIBERATO']
JARDINOX : ['JARDINOX', 'MARINO']
GUERRA : ['GUERRA', 'GURRA', 'GUERA']
KRONE : ['KRONE']
MAN : ['MAN']
NOMA : ['NOMA']
SOUFER : ['SOUFER']
DAF : ['DAF', 'IDAF']
RODOLINEA : ['RODOLINEA']
FIBRASIL : ['FIBRASIL']
THERMOSUL : ['THERMOSUL']
RECRUSUL : ['RECRUSUL']
TRIEL : ['TRIEL']
SCHIFFER : ['SCHIFFER']
ELLFEN : ['ELLFEN']
Depois: 25

In [18]:
# Na visualização abaixo é possível perceber que ainda há alguns veículos
# que não foi possível definir a marca
df_veiculos[df_veiculos['MARCA'] == ''][['PLACA', 'MODELO', 'MARCA']]

        PLACA                    MODELO MARCA
0    YNU-2233                       NaN
48   ETH-6614              VOLVO FH 420
61   UPN-0373       MERCEDES BENZ ATEGO
63   GXM-3837       SEMI REBOQUE GUERRA
150  FQW-9890           SEMI REBOQUE SR
158  JHB-3302  CAR/TRATOR IVECO STRALYS
196  JLY-0666                CARGO 2423
202  PEZ-4311      MERCEDESA BENZ ATEGO
205  VNT-7308   MERCEDES BENZ AXOR 2540
208  JWZ-8988             SR LIBRELATTO
277  OTJ-0897        FORD CARGO 2842 AT
329  ZDT-5217                       NaN
330  QIV-8738                       NaN
331  GXD-8431                       NaN
332  SYR-2888                       NaN
333  PPZ-1085                       NaN
334  VPW-4905                       NaN
335  JIO-1567                       NaN
336  KVR-6935                       NaN
337  ABF-3734                       NaN
338  MBA-4679                       NaN
339  UWY-1692                       NaN
340  TGL-3778                       NaN
341  FMU-8060                       NaN
342  PZV-4712                       NaN
343  ALO-8640                       NaN
344  TTW-8483                       NaN
367  BXP-9221                       NaN
368  HYI-2745                       NaN
376  LQB-8435                       NaN
..        ...                       ...   ...
523  GPI-9286           CAR/ REB TANQUE
534  YHO-1854                       NaN
538  HWS-6436             CAR/S REBOQUE
543  AOB-7637                       NaN
545  JVW-1912                   VW24220
569  TCA-3534                       NaN
571  EOO-4043                       NaN
591  WBG-1893                     TRUCK
592  VKD-3649                       NaN
593  WOJ-4396                       NaN
614  WUS-9438             CAR/ CAMINHÃO
615  VXA-7920                       NaN
617  BIG-6797                       NaN
696  HDN-5778                VOLKSWAGEN
702  FAX-8476                     TRUCK
717  JEO-8757                       NaN
718  BWY-7158                       NaN
745  BQQ-7434                       NaN
747  HCP-6731                       NaN
759  KPY-3820                       NaN
798  KFV-9807                    CAVALO
799  BIJ-4819                   CARRETA
802  YUV-7562            CAVALO TRUCADO
807  YHA-2215                       NaN
808  GCT-1572                       NaN
822  WMR-2437                    CAVALO
825  XWP-9308                    CAVALO
853  ZNT-7433                     TRUCK
892  IVC-9334                   BITRUCK
914  MGG-4082                    CAVALO

[80 rows x 3 columns]

In [19]:
def set_marcas(codigos, marca):
    rows = df_veiculos['CODIGO'].isin(codigos)
    df_veiculos.loc[rows, 'MARCA'] = marca

In [20]:
# Aqui necessita um trabalho um pouco manual,
# onde com base na informação do modelo facilmente 
# se encontra na internet a marca do veículo.
# Depois com a ajuda da função set_marcas é possível 
# atribuir manualmente a marca a estes veículos

set_marcas(codigos=[57, 392], marca='VOLVO')
set_marcas(codigos=[544, 609, 696], marca='VOLKSWAGEN')
set_marcas(codigos=[70, 207, 210, 880], marca='MERCEDES-BENZ')
set_marcas(codigos=[165], marca='IVECO')
set_marcas(codigos=[202, 282], marca='FORD')
set_marcas(codigos=[792], marca='SCANIA')
set_marcas(codigos=[72], marca='GUERRA')
set_marcas(codigos=[213], marca='LIBRELATTO')

# quando não há informação do modelo nem da marca
# atribui-se o valor de Não Especificado
nao_especificado = df_veiculos[df_veiculos['MARCA'] == '']['CODIGO']
set_marcas(codigos=nao_especificado, marca='NAO ESPEC.')

In [21]:
marcas_final = len(df_veiculos['MARCA'].unique())
print('Total de marcas:', marcas_final)
print('Redução de grafias diferentes: ', (1-(marcas_final/marcas_inicio))*100, '%')

Total de marcas: 25
Redução de grafias diferentes:  88.3177570093458 %

In [22]:
df_veiculos['MARCA'].unique()

array(['NAO ESPEC.', 'VOLKSWAGEN', 'GUERRA', 'SCANIA', 'MERCEDES-BENZ',
       'LIBRELATTO', 'FACCHINI', 'RANDON', 'FORD', 'VOLVO', 'JARDINOX',
       'RECRUSUL', 'IVECO', 'KRONE', 'MAN', 'TRIEL', 'RODOLINEA',
       'FIBRASIL', 'NOMA', 'SOUFER', 'SCHIFFER', 'ELLFEN', 'DAF',
       'RODOTÉCNICA', 'THERMOSUL'], dtype=object)

In [23]:
df_veiculos = df_veiculos.merge(df_marcas_ok, how='left', 
                                left_on='MARCA', right_on='NOME')

df_veiculos.rename(columns={'NOME': 'PROBLEMA_MARCA_FINAL'}, inplace=True)

porc_problema = df_veiculos[df_veiculos['PROBLEMA_MARCA_FINAL'].isnull()].shape[0] / df_veiculos.shape[0] 
print('Total de veículos com problema na marca (final):', porc_problema*100, '%')

Total de veículos com problema na marca (final): 6.578947368421052 %

In [24]:
df_veiculos[df_veiculos['PROBLEMA_MARCA_FINAL'].isnull()]

,CODIGO,PLACA,MODELO,MARCA,PROBLEMA_MARCA,MARCA_ANTES,PROBLEMA_MARCA_FINAL
0,1,YNU-2233,NaN,NAO ESPEC.,NaN,NaN,NaN
153,158,FQW-9890,SEMI REBOQUE SR,NAO ESPEC.,NaN,SEMI REBOQUE,NaN
342,301,ZDT-5217,NaN,NAO ESPEC.,NaN,NaN,NaN
343,302,QIV-8738,NaN,NAO ESPEC.,NaN,NaN,NaN
344,303,GXD-8431,NaN,NAO ESPEC.,NaN,NaN,NaN
345,304,SYR-2888,NaN,NAO ESPEC.,NaN,NaN,NaN
346,305,PPZ-1085,NaN,NAO ESPEC.,NaN,NaN,NaN
347,306,VPW-4905,NaN,NAO ESPEC.,NaN,NaN,NaN
348,307,JIO-1567,NaN,NAO ESPEC.,NaN,NaN,NaN
349,308,KVR-6935,NaN,NAO ESPEC.,NaN,NaN,NaN
350,309,ABF-3734,NaN,NAO ESPEC.,NaN,NaN,NaN
351,310,MBA-4679,NaN,NAO ESPEC.,NaN,NaN,NaN
352,311,UWY-1692,NaN,NAO ESPEC.,NaN,NaN,NaN
353,312,TGL-3778,NaN,NAO ESPEC.,NaN,NaN,NaN
354,313,FMU-8060,NaN,NAO ESPEC.,NaN,NaN,NaN
355,314,PZV-4712,NaN,NAO ESPEC.,NaN,NaN,NaN
356,315,ALO-8640,NaN,NAO ESPEC.,NaN,NaN,NaN
357,316,TTW-8483,NaN,NAO ESPEC.,NaN,NaN,NaN
385,338,BXP-9221,NaN,NAO ESPEC.,NaN,NaN,NaN
386,339,HYI-2745,NaN,NAO ESPEC.,NaN,NaN,NaN
396,378,LQB-8435,NaN,NAO ESPEC.,NaN,NaN,NaN
409,387,GIM-8939,GRANELEIRO,NAO ESPEC.,NaN,NaN,NaN
462,436,IVV-4633,CAR / S REBOQUE,NAO ESPEC.,NaN,NaN,NaN
463,437,DLS-9281,TRAC/ C TRATORCAB EST,NAO ESPEC.,NaN,NaN,NaN
477,449,WHN-1181,NaN,NAO ESPEC.,NaN,NaN,NaN
479,451,UBR-4862,NaN,NAO ESPEC.,NaN,NaN,NaN
480,452,JGL-2803,NaN,NAO ESPEC.,NaN,NaN,NaN
482,454,VHR-7769,NaN,NAO ESPEC.,NaN,NaN,NaN
495,464,YGZ-4515,NaN,NAO ESPEC.,NaN,NaN,NaN
505,475,NXJ-0732,CARRETA,NAO ESPEC.,NaN,NaN,NaN
...,...,...,...,...,...,...,...
534,503,VOD-4974,NaN,NAO ESPEC.,NaN,NaN,NaN
535,504,APP-8764,NaN,NAO ESPEC.,NaN,NaN,NaN
536,505,BJU-8621,NaN,NAO ESPEC.,NaN,NaN,NaN
537,506,DVW-7513,NaN,NAO ESPEC.,NaN,NaN,NaN
547,516,MWD-3433,CAR/ S REB TANQUE,NAO ESPEC.,NaN,SR/ TQ2,NaN
551,517,GPI-9286,CAR/ REB TANQUE,NAO ESPEC.,NaN,SRT TQ2,NaN
563,531,YHO-1854,NaN,NAO ESPEC.,NaN,NaN,NaN
567,535,HWS-6436,CAR/S REBOQUE,NAO ESPEC.,NaN,NaN,NaN
572,540,AOB-7637,NaN,NAO ESPEC.,NaN,TRAC/ C TRATOR / CAB,NaN
598,566,TCA-3534,NaN,NAO ESPEC.,NaN,NaN,NaN
600,567,EOO-4043,NaN,NAO ESPEC.,NaN,NaN,NaN
622,586,WBG-1893,TRUCK,NAO ESPEC.,NaN,NaN,NaN
623,587,VKD-3649,NaN,NAO ESPEC.,NaN,NaN,NaN
624,588,WOJ-4396,NaN,NAO ESPEC.,NaN,NaN,NaN
647,610,VXA-7920,NaN,NAO ESPEC.,NaN,NaN,NaN
649,612,BIG-6797,NaN,NAO ESPEC.,NaN,NaN,NaN
737,700,FAX-8476,TRUCK,NAO ESPEC.,NaN,NaN,NaN
758,713,JEO-8757,NaN,NAO ESPEC.,NaN,NaN,NaN
759,714,BWY-7158,NaN,NAO ESPEC.,NaN,NaN,NaN
792,739,BQQ-7434,NaN,NAO ESPEC.,NaN,NaN,NaN
794,741,HCP-6731,NaN,NAO ESPEC.,NaN,NaN,NaN
806,753,KPY-3820,NaN,NAO ESPEC.,NaN,NaN,NaN
853,788,KFV-9807,CAVALO,NAO ESPEC.,NaN,NaN,NaN
854,789,BIJ-4819,CARRETA,NAO ESPEC.,NaN,LS 30CS,NaN
862,797,YHA-2215,NaN,NAO ESPEC.,NaN,NaN,NaN
863,798,GCT-1572,NaN,NAO ESPEC.,NaN,NaN,NaN
877,812,WMR-2437,CAVALO,NAO ESPEC.,NaN,NaN,NaN
880,815,XWP-9308,CAVALO,NAO ESPEC.,NaN,CAVALO,NaN
914,841,ZNT-7433,TRUCK,NAO ESPEC.,NaN,TRUCK,NaN
982,902,MGG-4082,CAVALO,NAO ESPEC.,NaN,NaN,NaN